$bgc-header-right:#ff505b;
$bgc-header-left:#ff826c;
$bgc-btn:#ff7e86;
$white:#fff;
$semi-white:#f1f1f1;
$color-titre:#1c3a52;
$color-pattern:#3a3d5c;
$color-footer:#24242c;

// font-size
$big-title: 48px;
$medium-title:40px;
$small-title:25px;